.search-organization {
  text-align: center;
  min-height: 100vh;
  color: white;

  &__header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }
}
