.search {
  min-height: 100vh;
  color: white;
}

.search__header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  min-height: 20vh;
  text-align: center;
}

.search__body {
  background-color: #6e7686;
  min-height: 80vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.search__text-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__text-and-button--text {
  margin: 16px;
  font-size: 24px;
  align-self: center;
}

.search__text-and-button--button {
  background-color: lightgrey;
  width: 10%;
  font-size: 16px;
}

.search__select-and-results {
  display: flex;
  flex-direction: row;
}

.search__field-select {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  width: 50%;
}

.search__results {
  width: 50%;
}
