.search-field {
  display: flex;
  flex-direction: row;
}

.search-field__button {
  background-color: lightgray;
  color: black;
  font-size: 18px;
  margin: 16px;
  width: 40%;
  padding: 10px;
  border-radius: 2px;
  height: 100%;
  max-height: 43px;
}

.search-field__input {
  margin: 16px;
  width: 40%;
  background-color: lightgray;
  font-size: 18px;
  padding: 6px;
}
